h1, h2 {
    text-align: center;
}
.item p {
    display: inline-block
}
h1 {
    padding-bottom: 20%;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
.Email {
    padding-left: 20%;  
}
.Phone {
    padding-left: 20%;      
}
.EmailContext, .PhoneContext {
    text-align: left;
}




div {
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    background-color: antiquewhite;
    left: 10%;
    right: 10%;
    top: 5%;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    max-height: 80%;
}